{% extends 'base.html' %}

{% block content %}

<content>
  <div>
    <h1>Edit Profile</h1>
    <div class="text-center flex flex-col items-center">
        <img id="avatar" src="{{ user.profile.avatar }}" alt="Profile Image"/>
        <div>
            <div>@{{ user.username }}</div>
            <h1 id="realname">{{ user.profile.name }}</h1>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button>Submit</button>
            <a  href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        </div>
    </form>
    <a href="{% url 'account:profile_delete' %}">Delete Profile</a>

    <script>
        // This updates the avatar
        const fileInput = document.querySelector('input[type="file"]');
        const image = document.querySelector('#avatar');

        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];

            if (file && file.type.includes('image')) {
                const url = URL.createObjectURL(file);
                image.src = url;
            }
        });

        // This updates the name
        const realnameInput = document.getElementById('id_realname');
        const realnameOutput = document.getElementById('realname');

        realnameInput.addEventListener('input', (event) => {
            realnameOutput.innerText = event.target.value;
        });
    </script>
  </div>
</content>

{% endblock %}
